.nv-txt{
    font-family: 'Unica One', cursive;
    font-size: 22px;
    color: white !important;
    letter-spacing: 0.1rem;
    text-shadow: 0.5px 0.5px #000000;

}
body{
    background: url("../images/background.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-color: black;
    

  }

/*
  .slider{
    background: url("../images/background.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-color: black;
    filter: blur(1px)
  }
  */

  .mybtn{
    display:block;
    width: 240px;
    height: 40px;;
    color: #ffffff !important;
    background-color: orange;
    border-radius: 20px;
    border: 2px solid orange;
    text-shadow: 0.8px 0.8px #000000;
    
    
  }
  
  .mybtn:hover{
    color: orange !important;
    border-color: orange;
    background-color: #ffffff00;
  }
  

  .title{
    font-family: 'ParisiRenne', cursive;
    font-size: 120px;
    color: orange;
    text-shadow: 1px 1px black;
  }

  .nav-color{
      background-color: orange !important;
  }

  .txt{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px #000000;
    
  }

